.shows {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.show {
  padding: 0.5rem 0;
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}

.show:hover {
  cursor: pointer;
}

.show.selected {
  text-decoration: underline;
}

.separator {
  font-size: 1.125rem;
  color: white;
  line-height: 1;
  transform: scaleY(1.5);
  display: inline-block;
  vertical-align: middle;
}

.show-details {
  display: grid;
  gap: 2rem;
  margin-top: 1rem;
}

@media (width >= 500px) {
  .show-details {
    grid-template-columns: minmax(40ch, auto) 1fr;
  }
}
